<?xml version='1.0' encoding='UTF-8'?>
<project>
  <actions/>
  <description>Call fabric script to deploy</description>
  <keepDependencies>false</keepDependencies>
  <properties>
    <hudson.model.ParametersDefinitionProperty>
      <parameterDefinitions>
        <hudson.plugins.copyartifact.BuildSelectorParameter plugin="copyartifact@1.26">
          <name>pet-clinic-release</name>
          <description></description>
          <defaultSelector class="hudson.plugins.copyartifact.StatusBuildSelector">
            <stable>true</stable>
          </defaultSelector>
        </hudson.plugins.copyartifact.BuildSelectorParameter>
      </parameterDefinitions>
    </hudson.model.ParametersDefinitionProperty>
  </properties>
  <scm class="hudson.scm.NullSCM"/>
  <canRoam>true</canRoam>
  <disabled>false</disabled>
  <blockBuildWhenDownstreamBuilding>false</blockBuildWhenDownstreamBuilding>
  <blockBuildWhenUpstreamBuilding>false</blockBuildWhenUpstreamBuilding>
  <triggers class="vector">
    <hudson.plugins.promoted__builds.PromotionTrigger plugin="promoted-builds@2.10">
      <spec></spec>
      <jobName>pet-clinic-release</jobName>
      <process>Released</process>
    </hudson.plugins.promoted__builds.PromotionTrigger>
  </triggers>
  <concurrentBuild>false</concurrentBuild>
  <builders>
    <hudson.tasks.Shell>
      <command>echo &quot;Deploy to test&quot;</command>
    </hudson.tasks.Shell>
  </builders>
  <publishers/>
  <buildWrappers/>
</project>